html {
	background-color: #EDEDED;
	margin: 0;
}
body {
	margin: 0;
}
.buttonSkin {
	border: 0px;
	background-color: #c5c5c5;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 10px 25px;
	text-decoration: none;
}
.buttonSkin:hover {
	background-color: #E3E3E3;
}
.textInputSkin {
 	padding: 5px 30px;
 	font-size: 16px;
 	text-align: center;
 	border-width: 2px;
 	border-radius: 0px;
 	border-style: none;
 	font-style: normal;
 	font-family: sans-serif;
}