/*------body-------*/
.bodyContainer {
	position: relative;
	width: 50%;
	left: 25%;
}


/*---------Profile---------*/

.profileContainer {
	position: relative;

}
.profilePostSeparator {
	position: relative;
	width: 80%;
	left: 10%;
	border-top: 1px solid black;
	margin-top:30px;
	margin-bottom: 30px;
}
.profileName {
	position: relative;
	left: 30%;
	top: 60px;
	font-size: 25px;
}
.profileDescription {
	position: relative;
	left: 30%;
	top: 80px;
	width: 40%;
	height: 48px ;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
}
#profileModification {
	position: absolute;
	left: 80%;
	top:60%

}
.profilePicture {
	position: relative;
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
}
#profileFollow {
	position: absolute;
	top: 60%;
	left: 90%;
}



/*---------Form---------*/
.formContainer {
	position: relative;
	height: 100px;
}
#formInput {
	position: relative;
	left: 20%;
}
#formButton{
	position: absolute;
	left: 75%;
	top: 10%
}



/*---------Post---------*/

.postNextButton {
	position: relative;
	max-width: 50px;
	left: 50%;
	transform: translate(-50%, 0%);
}
.postDeleteButton {
	border: 0px solid black;
	background: white;
	position: absolute;
	top: 10px;
	z-index: 1;
}
.postDeleteButtonImage {
	width: 30px;
	height: auto;
}

.postContainer {
	position: relative;
	overflow:hidden;
	margin-top: 20px;
	height: 440px;
	background-color: white;
	padding-left: 10px;
	padding-top: 10px;
	border:1px
}
.postBodyContainer {
	position: absolute;
	text-align: justify;
	left: 475px;
	font-size:30px;
	overflow: hidden;
	top: 25px;
}
.postImage {
	object-fit: cover;
	height:430px;
	width: 430px;
}
/*like*/
.postLikeContainer {
	position: absolute;
	margin-top:-60px;
	width:500px;
	left:470px;
	height: 40px;
	overflow: hidden;
	font-size: 20px;
}
.postLikeButton {
	z-index: 1;
	position: absolute;
	border-style: none;
	outline: none;
	margin-right: 10px;
	background-color: white;

}
.postLikeButtonImage {
	position: relative;
	width: 45px;
	height: auto;
}
.postLikeButtonImage:hover {
	margin-left: -5px;
	margin-top: -5px;
	width: 55px;
}
.postLikeCounter {
	top: 50%;
	transform: translate(0%, -50%);
	font-weight: bold;
	left: 80px;
	display: block;
	position: absolute;
}



/* modification */
.modificationContainerTotal{
	margin-top: 60px;
}
.modificationContainer{
	width: 100%;
}
#modificationButton {
	position: relative;
	left: 50%;
	transform:translate(-50%,0%);
	margin-bottom: 70px;
}
#modificationInput {
	position: relative;
	left: 50%;
	transform:translate(-50%,0%);
	margin-bottom:20px;

}



/*button timeline*/
.nextButton {
	position: relative;
	max-width: 50px;
	left: 50%;
	height: auto;
	margin-top: 80px;
	transform: translate(-50%, 0%);
}




