/*---------Profile---------*/
.profileContainer {
    position: relative;
	width: 50%;
	left: 25%;
}
.profilePostSeparator {
	position: relative;
	width: 90%;
	border-top: 1px solid black;
	margin-bottom: 10px;
}
.profileName {
	position: absolute;
	left: 35%;
	top: 50px;
	font-size: 20px;
}
.profileDescription {
	position: absolute;
	left: 35%;
	top: 80px;
	font-size: 12px;
    font-weight: normal;
}
#profileModification {
    position: absolute;
    top: 80px;
}
.profilePicture {
	position: absolute;
	width: 150px;
	height: 150px;
	object-fit: cover;
	left: 20%;
	border-radius: 50%;
}
#profileFollow {
	position: relative;
	left: 60%;
	margin-top: 50px;
	margin-bottom: 5%;
}



/*---------Form---------*/
.formContainer {
	position: relative;
	left: 60%;
	top: 10px;
	margin-bottom: 80px;
	width: 50%;
}
.formInput {
	position: relative;
	width: 100%;
 	text-align: left;
}




/*---------Post---------*/

.postNextButton {
	position: relative;
	max-width: 50px;
	left: 45%;
	transform: translate(-50%, 0%);
}
.postDeleteButton {
	border: 0px solid black;
	background: white;
	position: absolute;
	top: 10px;
	z-index: 1;
}
.postDeleteButtonImage {
	width: 30px;
	height: auto;
}

.postContainer {
	position: relative;
	overflow:hidden;
	margin-top: 20px;
	height: 440px;
	background-color: white;
	padding-left: 10px;
	padding-top: 10px;
	border:1px
}
.postBodyContainer {
	position: absolute;
	text-align: justify;
	left: 475px;
	margin-right: 20px;
	font-size:40px
}
.postImage {
    object-fit: cover;
	height:430px;
	max-width: 430px;
}
/*like*/
.postLikeContainer {
	position: absolute;
	margin-top:-60px;
	width:500px;
	left:470px;
	height: 40px;
	overflow: hidden;
	font-size: 20px;
}
.postLikeButton {
	z-index: 1;
	position: absolute;
	border-style: none;
	outline: none;
	margin-right: 10px;
		background-color: white;

}
.postLikeButtonImage {
	position: relative;
	width: 45px;
	height: auto;
}
.postLikeButtonImage:hover {
	margin-left: -5px;
	margin-top: -5px;
	width: 55px;
}
.postLikeCounter {
	top: 50%;
	transform: translate(0%, -50%);
	font-weight: bold;
	left: 80px;
	display: block;
	position: absolute;
}



/* modification */
.modificationContainerTotal{
    margin-top: 60px;
}
.modificationContainer{
    width: 100%;
}
#modificationButton {
    position: relative;
    left: 50%;
    transform:translate(-50%,0%);
    margin-bottom: 70px;
}
#modificationInput {
    position: relative;
    left: 50%;
    transform:translate(-50%,0%);
    margin-bottom:20px;
}





/*button timeline*/
.nextButton {
	position: relative;
	max-width: 50px;
	left: 50%;
	height: auto;
	margin-top: 80px;
	transform: translate(-50%, 0%);
}
