/*---------Profile---------*/
.profileContainer {
    position: relative;
	width: 90%;
	left: 10%;
}
.profileName {
	position: absolute;
	left: 35%;
	top: 50px;
	font-size: 20px;
}
.profilePicture {
	position: absolute;
	width: 150px;
	height: auto;
	left: 20%;
}
#profileFollow {
	position: relative;
	left: 60%;
	margin-top: 50px;
	margin-bottom: 5%;
}



/*---------Form---------*/
.formContainer {
	position: relative;
	left: 60%;
	top: 10px;
	margin-bottom: 80px;
	width: 50%;
}
.formInput {
	position: relative;
	width: 100%;
 	text-align: left;
}




/*---------Post---------*/
.postContainer {
	position: relative;
	margin-top: 10px;
}
.postNextButton {
	position: relative;
	max-width: 50px;
	left: 45%;
	transform: translate(-50%, 0%);
}
.postDeleteButton {
	border: 0px solid black;
	background: white;
	position: absolute;
	top: 20px;
	z-index: 1;
}
.postDeleteButtonImage {
	width: 15px;
	height: auto;
}

.postContainer {
	height: 30%;
	background-color: white;
	padding-left: 10px;
	padding-top: 5px;
}
.postBodyContainer {
	position: absolute;
	text-align: justify;
	left: 22%;
	margin-right: 20px;
}
.postImage {
	width: 20%;
	max-height: 30%;	
}
/*like*/
.postLikeContainer {
	position: relative;
	height: 40px;
	overflow: hidden;
}
.postLikeButton {
	z-index: 1;
	position: absolute;
	background-color: white;
	border-style: none;
}
.postLikeButtonImage {
	position: relative;
	width: 30px;
	height: auto;
}
.postLikeButtonImage:hover {
	margin-left: -5px;
	margin-top: -5px;
	width: 40px;
}
.postLikeCounter {
	top: 50%;
	transform: translate(0%, -50%);
	font-weight: bold;
	left: 60px;
	display: block;
	position: relative;
}

/*button timeline*/
.nextButton {
	position: relative;
	max-width: 50px;
	left: 50%;
	height: auto;
	margin-top: 80px;
	transform: translate(-50%, 0%);
}